* {
  margin: 0;
  padding: 0;
  background-color: #eaeaee;
}

.root {
  width: 100%;
}

.side-tasks {
  width: 500px;
  margin: 80px auto 0 auto;
}

.side-tasks h3 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 15px;
  color: #54597e;
}

/* ul {
  width: ;
} */
ul .task-item {
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 13px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

ul .btn {
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #fff;
}

ul .btn-delete {
  margin-left: auto;
}

.btn-delete i {
  color: red;
  background-color: #fff;
  font-size: 20px;
}

.btn-checked i {
  color: rgb(7, 167, 7);
  background-color: #fff;
  font-size: 20px;
  opacity: 0.2;
}
.btn-checked i:hover {
  color: rgb(7, 167, 7);
}
.btn-checked .checked {
  opacity: 1;
}

ul li {
  list-style-type: none;
  background-color: #fff;
  border: none;
  margin-left: 10px;
}

.add-task {
  margin: 0 auto 15px auto;
  width: 60%;
  display: flex;
  justify-content: center;
}
.add-task label {
  margin-bottom: 15px;
}
.add-task input {
  width: 80%;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.add-task button {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #802af1;
  border: none;
  outline: none;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
